@use "../01-settings/fonts";
@use "../01-settings/tokens";
@use "../02-tools/functions" as *;

body {
    font-family: "Nunito variable", sans-serif;
    background: var(--basic-medium-alpha);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Syne variable", sans-serif;
}

h1 {
    font-weight: 700;
    font-size: to-rem(30px);
    line-height: to-rem(32px);
}

p {
    font-weight: 400;
    font-size: to-rem(20px);
    line-height: to-rem(24px);
}
