@use "../02-tools/functions" as *;
@use "../02-tools/mixins" as *;

.cards {
    &__layout {
        display: flex;
        flex-direction: column;
        gap: to-rem(24px);
        padding-bottom: to-rem(56px);
    }

    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: to-rem(24px);
        padding-bottom: to-rem(8px);
        width: auto;

        &.is-hidden {
            display: none;
        }
    }

    &__title {
        width: 100%;
        padding: to-rem(0 16px);
        font-weight: 600;
        font-size: to-rem(22px);
        line-height: to-rem(24px);
        margin-bottom: to-rem(-8px);
    }

    &__item {
        width: 100%;
        text-align: center;

        @include media(tablet) {
            max-width: to-rem(264px);
            min-height: to-rem(376px);
        }

        &.is-hidden {
            display: none;
        }
    }
}

.card {
    font-family: "Nunito variable", sans-serif;
    box-shadow: to-rem(0px 4px 8px 0px) var(--card-shadow);
    border-radius: to-rem(24px);

    &__image {
        overflow: hidden;
        border-top-left-radius: to-rem(24px);
        border-top-right-radius: to-rem(24px);
        position: relative;

        @include media(mobile) {
            width: to-rem(360px);
            height: to-rem(204px);
        }

        @include media(tablet) {
            width: to-rem(264px);
            height: to-rem(188px);
        }

        > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__tag {
        font-weight: 800;
        font-size: to-rem(12px);
        line-height: to-rem(16px);
        position: absolute;
        right: to-rem(16px);
        top: to-rem(16px);
        color: var(--tag-primary-text);
        background: var(--tag-primary-background);
        padding: to-rem(4px 12px);
        border-radius: to-rem(40px);
        text-transform: capitalize;
    }

    &__body {
        padding: to-rem(16px);
        gap: to-rem(8px);
        text-align: left;
        display: flex;
        flex-direction: column;
    }

    &__location {
        font-family: "Syne variable", sans-serif;
        font-weight: 500;
        font-size: to-rem(14px);
        line-height: to-rem(18px);
        color: var(--card-text-default);

        > strong {
            font-weight: 700;
            color: var(--card-title-default);
        }
    }

    &__title {
        font-family: "Nunito variable", sans-serif;
        font-weight: 700;
        font-size: to-rem(18px);
        line-height: to-rem(22px);
        color: var(--card-text-default);
    }

    &__footer {
        background: var(--card-circuit-card-bottom-bar-background-default);
        border-bottom-left-radius: to-rem(24px);
        border-bottom-right-radius: to-rem(24px);
        display: flex;
        flex-direction: column;
        padding: to-rem(12px 16px 16px);
        gap: to-rem(12px);

        @include media(tablet) {
            flex-direction: row;
            align-items: flex-end;
        }
    }

    &__price {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-end;

        @include media(tablet) {
            flex-direction: column;
            align-items: flex-start;
            flex-basis: 50%;
            flex-shrink: 0;
        }

        > strong {
            font-weight: 700;
            font-size: to-rem(22px);
            line-height: to-rem(24px);
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            > small {
                font-weight: 500;
                font-size: to-rem(12px);
                line-height: to-rem(16px);
            }
        }
    }

    &__show-details {
        position: relative;
    }

    &.is-hidden {
        display: none;
    }
}

.details {
    display: none;
    font-family: "Nunito variable", sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 40;
    background: var(--overlay-background-default);

    @include media(tablet) {
        position: absolute;
        top: to-rem(32px);
        left: 0;
        width: to-rem(400px);
        height: auto;
        border-radius: to-rem(24px);
        border: to-rem(1px) solid var(--color-border-medium-default);
        box-shadow: to-rem(0px 4px 8px 0px) var(--overlay-shadow);
    }

    &.is-visible {
        display: block;
    }

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: to-rem(16px);
        background: var(--overlay-top-bar-default);
        border-bottom: to-rem(1px) solid var(--overlay-border-default);
    }

    &__title {
        font-family: "Nunito variable", sans-serif;
        font-weight: 700;
        font-size: to-rem(18px);
        line-height: to-rem(24px);
    }

    &__close {
        width: to-rem(24px);
        height: to-rem(24px);
        cursor: pointer;
    }

    &__body,
    &__footer {
        padding: to-rem(24px 16px);
        display: flex;
        flex-direction: column;
        gap: to-rem(24px);
    }

    &__footer {
        border-top: to-rem(1px) solid var(--overlay-border-default);
    }

    &__summary {
        font-family: "Syne variable", sans-serif;
        font-weight: 500;
        font-size: to-rem(18px);
        line-height: to-rem(24px);
        color: var(--overlay-text-default);
        text-align: left;

        > strong {
            color: var(--overlay-title-default);
        }
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr auto;
        row-gap: to-rem(16px);
        > dt {
            text-align: left;
            font-weight: 500;
            font-size: to-rem(16px);
            line-height: to-rem(20px);
        }
        > dd {
            text-align: right;
            font-weight: 700;
            font-size: to-rem(18px);
            line-height: to-rem(20px);
        }
    }

    &__total {
        display: grid;
        grid-template-columns: 1fr auto;
        row-gap: to-rem(16px);
        > dt {
            text-align: left;
            font-weight: 700;
            font-size: to-rem(18px);
            line-height: to-rem(22px);
        }
        > dd {
            text-align: right;
            font-weight: 700;
            font-size: to-rem(22px);
            line-height: to-rem(24px);
        }
    }
}
