@use "../02-tools/functions" as *;
@use "../02-tools/mixins" as *;

.cards {
    &__layout {
        display: flex;
        flex-direction: column;
        gap: to-rem(24px);
    }

    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: to-rem(24px);
        padding-bottom: to-rem(8px);
        width: auto;
    }

    &__title {
        width: 100%;
        padding: to-rem(0 16px);
        font-weight: 600;
        font-size: to-rem(22px);
        line-height: to-rem(24px);
        margin-bottom: to-rem(-8px);
    }

    &__item {
        width: 100%;

        border: 2px dotted green;
        background: lightgreen;
        text-align: center;

        @include media(mobile) {
            width: to-rem(360px);
            height: to-rem(404px);
        }

        @include media(tablet) {
            width: to-rem(264px);
            height: to-rem(376px);
        }
    }
}
