@use "../02-tools/functions" as *;
@use "../02-tools/mixins" as *;

.filters {
    &__layout {
        text-align: center;
    }

    &__panel {
        display: none;
        background-color: var(--filters-background-default);
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        z-index: 90;

        @include media(tablet) {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: to-rem(296px);
            height: 100%;
            box-shadow: to-rem(4px 4px 8px 0px) var(--filters-shadow);
            z-index: 50;
        }

        @include media(desktop) {
            display: block;
            box-shadow: none;
            position: relative;
            width: to-rem(264px);
            border-radius: to-rem(24px);
        }

        &.is-visible {
            display: block;
        }
    }

    &__panel-inner {
        height: 100%;
        overflow-y: auto;
    }

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: to-rem(16px 24px);
        border-bottom: to-rem(1px) solid var(--filters-divisor);

        @include media(desktop) {
            text-align: center;
        }
    }

    &__title {
        font-weight: 700;
        font-size: to-rem(18px);
        line-height: to-rem(24px);
        padding: to-rem(12px 0);

        @include media(desktop) {
            width: 100%;
        }
    }

    &__close {
        width: to-rem(24px);
        height: to-rem(24px);
        cursor: pointer;

        @include media(desktop) {
            display: none;
        }
    }

    &__form {
        padding: to-rem(12px 24px 32px 24px);
    }

    &__legend {
        display: flex;
        align-items: center;
        font-family: "Nunito variable", sans-serif;
        font-weight: 700;
        font-size: to-rem(16px);
        line-height: to-rem(20px);
        color: var(--filters-filter-name-text-open);
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: to-rem(48px);
        gap: to-rem(8px);
    }

    &__icon {
        width: to-rem(28px);
        height: to-rem(28px);
    }

    &__legend-text {
        flex-basis: 100%;
    }

    &__chevron {
        width: to-rem(24px);
        height: to-rem(24px);
        transform: rotate(90deg);
        transition: ease-in 0.2s transform;
    }

    &__fieldset {
        text-align: left;
        border: none;
        position: relative;
        padding: to-rem(48px 0 0 16px);

        .button {
            margin: to-rem(8px 0 16px);
        }

        &.is-collapsed {
            .input-wrapper,
            .checkbox-wrapper,
            .button {
                display: none;
            }
            .filters__legend {
                color: var(--filters-filter-name-text-default);
            }
            .filters__chevron {
                transform: rotate(0deg);
            }
        }
    }

    &__toggle {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        cursor: pointer;
        font-family: "Nunito variable", sans-serif;
        font-weight: 600;
        font-size: to-rem(20px);
        line-height: to-rem(24px);
        gap: to-rem(10px);
        border-radius: to-rem(208px);
        padding: to-rem(8px 14px);

        color: var(--button-show-filter-foreground-default);
        background: var(--button-show-filter-background-default);
        border: to-rem(1px) solid var(--button-show-filter-border-default);

        &:hover {
            color: var(--button-show-filter-foreground-hover);
            background: var(--button-show-filter-background-hover);
            border: to-rem(1px) solid var(--button-show-filter-border-hover);
        }

        @include media(laptop) {
            margin-left: 0;
        }

        @include media(desktop) {
            display: none;
        }
    }
}
