@use "../02-tools/mixins" as *;
@use "../02-tools/functions" as *;

.footer {
    width: 100%;
    z-index: 50;
    position: relative;

    &__layout {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        position: relative;

        &::after {
            content: "";
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            border-top: to-rem(1px) solid var(--footer-background-bottom-bar-default);
        }
    }

    &__main {
        background: var(--footer-background-default);
        width: 100%;
        padding: to-rem(16px 32px);

        @include media(mobile) {
            padding: to-rem(48px 32px);
        }

        @include media(tablet) {
            padding: to-rem(48px 24px);
        }

        @include media(laptop) {
            padding: to-rem(48px 40px);
        }

        @include media(desktop) {
            padding: to-rem(48px 0);
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }

    &__legal {
        width: 100%;
        text-align: center;
        padding: to-rem(16px 0);
        font-size: to-rem(14px);
        font-weight: 700;
        background: var(--footer-background-bottom-bar-default);
        color: var(--footer-foreground-bottom-bar-default);
    }
}
