@use "../02-tools/mixins" as *;
@use "../02-tools/functions" as *;

.header {
    width: 100%;

    &__layout {
        display: flex;

        background: var(--header-background-default);
        padding: to-rem(8px 16px);

        @include media(mobile) {
            padding: to-rem(0 16px);
            height: to-rem(56px);
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        @include media(tablet) {
            padding: to-rem(0 24px);
            height: to-rem(80px);
        }

        @include media(laptop) {
            justify-content: space-between;
            align-items: center;
            height: 100%;
            position: relative;
            padding: to-rem(0 32px);

            &::after {
                content: "";
                width: 100%;
                position: absolute;
                left: 0;
                bottom: 0;
                border-bottom: to-rem(1px) solid var(--tab-navbar-selection-indicator-background-active);
            }
        }
    }

    &__actions {
        z-index: 60;

        .button--primary {
            display: none;
        }

        @include media(laptop) {
            .button--primary {
                display: block;
            }
        }
    }

    &__burger {
        background: transparent;

        @include media(laptop) {
            display: none;
        }
    }
}
