@use "../02-tools/functions" as *;

.input-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    padding: to-rem(12px 0);

    &.is-hidden {
        display: none;
    }

    &__icon {
        width: to-rem(24px);
        height: to-rem(24px);
        position: absolute;
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
        color: var(--form-text-input-text-default);
    }
}

.input {
    font-family: "Nunito variable", sans-serif;

    &[type="text"] {
        width: 100%;
        min-height: to-rem(48px);
        max-height: to-rem(48px);
        padding-top: to-rem(12px);
        padding-bottom: to-rem(12px);
        border-radius: to-rem(208px);
        border: 1px solid var(--form-text-input-border-default);
        background-color: var(--form-text-input-background-default);
        color: var(--form-text-input-text-default);

        &::placeholder {
            color: var(--form-text-input-placeholder-default);
            margin-left: 2rem;
            display: inline-block;
            font-weight: 500;
            font-size: to-rem(14px);
            line-height: to-rem(20px);
        }
    }

    &[type="checkbox"] {
        display: inline-block;
        position: relative;
        appearance: none;
        width: to-rem(18px);
        height: to-rem(18px);
        border: to-rem(1px) solid var(--form-checkbox-box-border-default);
        border-radius: to-rem(2px);
        background-color: var(--form-checkbox-box-background-default);
        cursor: pointer;
        vertical-align: middle;

        &:checked {
            background-color: var(--form-checkbox-box-background-selected);
            border-color: var(--form-checkbox-box-border-selected);

            &::after {
                content: "";
                position: absolute;
                left: to-rem(5px);
                top: to-rem(1px);
                width: to-rem(6px);
                height: to-rem(12px);
                border-style: solid;
                border-color: var(--form-checkbox-check-icon-default);
                border-width: to-rem(0 3px 3px 0);
                transform: rotate(45deg);
            }
        }

        &:hover {
            border: to-rem(1px) solid var(--form-checkbox-box-border-hover);

            &:checked {
                background-color: var(--form-checkbox-box-background-selected-hover);
                border-color: var(--form-checkbox-box-border-selected-hover);
                &::after {
                    border-color: var(--form-checkbox-check-icon-hover);
                }
            }
        }
    }

    &--icon {
        padding-left: to-rem(52px);
    }
}
