@use "../02-tools/functions" as *;
@use "../02-tools/mixins" as *;

.intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: to-rem(56px auto 40px);

    @include media(tablet) {
        margin: to-rem(56px 24px 48px);
    }

    @include media(laptop) {
        margin: to-rem(56px auto 48px);
        width: to-rem(840px);
    }

    @include media(desktop) {
        margin: to-rem(72px auto);
        max-width: to-rem(1128px);
    }

    &__layout {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: to-rem(16px);
        text-align: center;
        padding: to-rem(0 32px);

        @include media(tablet) {
            gap: to-rem(8px);
            padding: to-rem(0);
        }
    }
}
