@use "../02-tools/mixins" as *;
@use "../02-tools/functions" as *;

.nav {
    display: none;
    position: relative;
    font-weight: 600;

    position: absolute;
    right: 0;
    top: 0;
    width: 90vw;
    height: 100vh;
    padding-top: to-rem(48px);
    background: var(--header-background-default);
    box-shadow: to-rem(4px 0px 8px 4px) var(--overlay-shadow);
    z-index: 60;

    @include media(tablet) {
        padding-top: to-rem(72px);
        width: 50vw;
    }

    @include media(laptop) {
        box-shadow: none;
        background: transparent;
        display: flex;
        position: relative;
        width: auto;
        height: auto;
        padding-top: 0;
    }

    &__icon {
        margin-right: to-rem(6px);
        height: to-rem(24px);
        width: to-rem(24px);
        color: inherit;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 0;
        padding: 0;
        margin: 0;

        @include media(laptop) {
            gap: to-rem(16px);
            flex-direction: row;
        }

        @include media(desktop) {
            gap: to-rem(72px);
        }
    }

    &__item {
        list-style: none;

        @include media(mobile) {
            padding: to-rem(0 0);
            border-top: to-rem(1px) solid var(--color-border-light-default);
            &:last-of-type {
                border-bottom: to-rem(1px) solid var(--color-border-medium-default);
            }
        }

        @include media(laptop) {
            padding: 0;
            border-top: none;
            &:last-of-type {
                border-bottom: none;
            }
        }
    }

    &__text {
        @include media(laptop) {
            text-align: center;
        }
    }

    &__link {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        color: var(--tab-navbar-text-default);
        position: relative;
        padding: to-rem(16px 32px);

        &.is-active {
            font-weight: 700;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                border-left: to-rem(2px) solid var(--tab-navbar-selection-indicator-background-active);
            }

            &::before {
                content: "";
                transform: translateX(-5%) translateY(5%) rotate(90deg);
                position: absolute;
                left: 0;
                border-left: to-rem(9px) solid transparent;
                border-right: to-rem(9px) solid transparent;
                border-bottom: to-rem(12px) solid var(--tab-navbar-selection-indicator-background-active);
            }

            &:hover {
                &::before,
                &::after {
                    border-bottom-color: var(--tab-navbar-selection-indicator-background-active-hover);
                }
            }
        }

        @include media(laptop) {
            height: to-rem(80px);
            padding: 0;

            &.is-active {
                font-weight: 700;

                &::after {
                    content: "";
                    width: 100%;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    border-left: none;
                    border-bottom: to-rem(2px) solid var(--tab-navbar-selection-indicator-background-active);
                }

                &::before {
                    content: "";
                    transform: translateX(-50%) translateY(100%);
                    position: absolute;
                    left: 50%;
                    bottom: to-rem(12px);
                    border-left: to-rem(9px) solid transparent;
                    border-right: to-rem(9px) solid transparent;
                    border-bottom: to-rem(12px) solid var(--tab-navbar-selection-indicator-background-active);
                }

                &:hover {
                    &::before,
                    &::after {
                        border-bottom-color: var(--tab-navbar-selection-indicator-background-active-hover);
                    }
                }
            }

            &:hover {
                color: var(--tab-navbar-text-hover);
            }
        }
    }

    &.is-open {
        display: block;
    }
}
