@use "../01-settings/tokens";
@use "../02-tools/functions" as *;
@use "../02-tools/mixins" as *;

.popover {
    display: none;
    font-family: "Nunito variable", sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 40;
    background: var(--overlay-background-default);

    @include media(tablet) {
        position: absolute;
        top: to-rem(32px);
        left: 0;
        width: to-rem(400px);
        height: auto;
        border-radius: to-rem(24px);
        border: to-rem(1px) solid var(--color-border-medium-default);
        box-shadow: to-rem(0px 4px 8px 0px) var(--overlay-shadow);
    }

    &.is-visible {
        display: block;
    }

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: to-rem(16px);
        background: var(--overlay-top-bar-default);
        border-bottom: to-rem(1px) solid var(--overlay-border-default);
    }

    &__title {
        font-family: "Nunito variable", sans-serif;
        font-weight: 700;
        font-size: to-rem(18px);
        line-height: to-rem(24px);
    }

    &__close {
        width: to-rem(24px);
        height: to-rem(24px);
        cursor: pointer;
    }

    &__body,
    &__footer {
        padding: to-rem(24px 16px);
        display: flex;
        flex-direction: column;
        gap: to-rem(24px);
    }

    &__footer {
        border-top: to-rem(1px) solid var(--overlay-border-default);
    }

    &__summary {
        font-family: "Syne variable", sans-serif;
        font-weight: 500;
        font-size: to-rem(18px);
        line-height: to-rem(24px);
        color: var(--overlay-text-default);
        text-align: left;

        > strong {
            color: var(--overlay-title-default);
        }
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr auto;
        row-gap: to-rem(16px);
        > dt {
            text-align: left;
            font-weight: 500;
            font-size: to-rem(16px);
            line-height: to-rem(20px);
        }
        > dd {
            text-align: right;
            font-weight: 700;
            font-size: to-rem(18px);
            line-height: to-rem(20px);
        }
    }

    &__total {
        display: grid;
        grid-template-columns: 1fr auto;
        row-gap: to-rem(16px);
        > dt {
            text-align: left;
            font-weight: 700;
            font-size: to-rem(18px);
            line-height: to-rem(22px);
        }
        > dd {
            text-align: right;
            font-weight: 700;
            font-size: to-rem(22px);
            line-height: to-rem(24px);
        }
    }
}
