:root {
    --button-primary-text-default: #ffffff;
    --button-primary-background-default: #622f60;
    --button-primary-background-hover: #471f45;
    --button-accent-text-default: #57290f;
    --button-accent-background-default: #ff8f50;
    --button-accent-background-hover: #d67843;
    --button-secondary-text-default: #622f60;
    --button-secondary-text-hover: #471f45;
    --button-secondary-border-default: #622f60;
    --button-secondary-border-hover: #471f45;
    --button-secondary-background-default: #ffffff;

    --header-background-default: #ffffff;

    --navbar-border-default: #ff8f50;
    --navbar-background-default: #ffffff;

    --tab-navbar-text-default: #342e34;
    --tab-navbar-text-hover: #2d242d;
    --tab-navbar-selection-indicator-background-active: #ff8f50;
    --tab-navbar-selection-indicator-background-active-hover: #d67843;

    --button-show-filter-background-default: #fbf6f4;
    --button-show-filter-border-default: #e0d9e0;
    --button-show-filter-foreground-default: #342e34;
    --button-show-filter-background-hover: #f4e8e1;
    --button-show-filter-border-hover: #d1c7d1;
    --button-show-filter-foreground-hover: #2d242d;

    --overlay-background-default: #ffffff;
    --overlay-text-default: #342e34;
    --overlay-title-default: #622f60;
    --overlay-shadow-default: #00000033;

    --form-text-input-border-default: #622f60;
    --form-text-input-placeholder-default: #817781;
    --form-text-input-background-default: #ffffff;
    --form-text-input-text-default: #342e34;

    --form-checkbox-box-background-default: #ffffff;
    --form-checkbox-box-border-default: #622f60;
    --form-checkbox-box-border-hover: #471f45;

    --form-checkbox-box-background-selected: #ff8f50;
    --form-checkbox-box-border-selected: #622f60;
    --form-checkbox-check-icon-default: #622f60;
    --form-checkbox-box-background-selected-hover: #d67843;
    --form-checkbox-box-border-selected-hover: #471f45;
    --form-checkbox-check-icon-hover: #471f45;

    --filters-background-default: #fbf6f4;
    --filters-icon-default: #342e34;
    --filters-filter-name-text-default: #342e34;
    --filters-icon-open: #b85c28;
    --filters-filter-name-text-open: #b85c28;
    --filters-divisor: #e0d9e0;
    --filters-shadow: #00000033;

    --card-shadow: #00000033;
    --card-text-default: #342e34;
    --card-title-default: #622f60;
    --card-circuit-card-bottom-bar-background-default: #fbf6f4;

    --overlay-background-default: #ffffff;
    --overlay-top-bar-default: #fbf6f4;
    --overlay-border-default: #e0d9e0;
    --overlay-title-default: #622f60;
    --overlay-bar-text-default: #342e34;

    --tag-primary-background: #ff8f50;
    --tag-primary-text: #342e34;

    --footer-background-default: #fbf6f4;
    --footer-foreground-bottom-bar-default: #622f60;
    --footer-background-bottom-bar-default: #e0d9e0;
}
