:root {
    --button-primary-text-default: #ffffff;
    --button-primary-background-default: #622f60;
    --button-primary-background-hover: #471f45;
    --button-accent-text-default: #57290f;
    --button-accent-background-default: #ff8f50;
    --button-accent-background-hover: #d67843;

    --header-background-default: #ffffff;

    --navbar-border-default: #ff8f50;
    --navbar-background-default: #ffffff;

    --tab-navbar-text-default: #342e34;
    --tab-navbar-text-hover: #2d242d;
    --tab-navbar-selection-indicator-background-active: #ff8f50;
    --tab-navbar-selection-indicator-background-active-hover: #d67843;

    --button-show-filter-background-default: #fbf6f4;
    --button-show-filter-border-default: #e0d9e0;
    --button-show-filter-foreground-default: #342e34;
    --button-show-filter-background-hover: #f4e8e1;
    --button-show-filter-border-hover: #d1c7d1;
    --button-show-filter-foreground-hover: #2d242d;

    --footer-background-default: #fbf6f4;
    --footer-foreground-bottom-bar-default: #622f60;
    --footer-background-bottom-bar-default: #e0d9e0;
}
